<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="https://v4.bootcss.com/favicon.ico">-->

    <title>Incoming Friend Request</title>

    <!-- Bootstrap core CSS -->
    <link href="https://qiaolin22.github.io/login/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://qiaolin22.github.io/login/static/css/signin.css" rel="stylesheet">
    </head>

<body class="text-center">
  <div class="row mt-5">
  <div class="col-md-6 m-auto">
  <div class="card card-body">
      <h1 class="text-center mb-3">
        Incoming Friend Request
      </h1>
      <% include ./partials/messages %>
      <form action="/users/friend_request" method="POST">
        <img class="mb-4" src="https://qiaolin22.github.io/login/static/image/logo.png" alt="" width="172" height="172">    
        <h1 class="h3 mb-3 font-weight-normal">You got a new request from [username] for your email! Please choose to either accept or reject this request.</h1>
        
        <!-- Accept Button -->
        <button type="submit" class="btn btn-primary btn-block">
            Accept
        </button>
        <!-- Reject Button-->
        <button type="submit" class="btn btn-primary btn-block">
            Reject
        </button>

    </form>
    <!-- <p class="lead mt-4">Already Have An Account? <a href="/users/login">Login</a></p> -->
    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
  </div>
  </div>
  </div>
  </script>

  </body>
  </html>