 <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <!-- my image tag -->
      <body class="text-center">
        <form class="form-signin" action="https://qiaolin22.github.io/main.html">
          <img class="mb-4" src="https://qiaolin22.github.io/login/static/image/logo.png" alt="Logo" width="172" height="172">
          <h1 class="h3 mb-3 font-weight-normal">Welcome to Dooley Eats! Please create an account or login</h1>
          <a href="/users/register" class="btn btn-primary btn-block mb-2">New to Dooley Eats? Register with an Emory Email</a>
          <a href="/users/login" class="btn btn-secondary btn-block">Have an Account? Login</a>
          <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
        </form>
      </body>
    </div>
  </div>
</div>

